@import 'tailwindcss';

@theme {
  --font-savate: "Savate";
  --font-poppins: "Poppins";

  --color-logo: #2e6ca3;
  --color-blue: #809bce;
  --color-blue-light: #95b8d1;
  --color-green: #b8e0d2;
  --color-green-light: #d6eadf;
  --color-red: #eac4d5; 
  --color-yellow: #fcf5c7
}
